.badge-demo {
  display: flex;
  margin-top: 28px;
  margin-bottom: 24px;
  margin-left: 16px;
  align-items: center;
  color: var(--td-text-color-primary, rgba(0, 0, 0, 0.9));

  .badge-item {
    margin-right: 48px;
  }
}

.block {
  padding: 16px 16px 24px;
}
