.tdesign-mobile-demo {
  --bg-color-demo: var(--td-bg-color-container);
}

.mobile-comment {
  padding: 12px 16px 4px 16px;
  box-sizing: border-box;

  &__author {
    display: flex;
    align-items: center;
    font-size: 12px;

    &-tag {
      background-color: transparent !important;
      border: none;
      font-size: 12px;
    }
  }

  &__reply {
    &-button {
      color: rgba(0, 0, 0, .6);
      font-size: 12px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;

    &-button {
      padding: 2px;
      color: rgba(0, 0, 0, .4);
      font-size: 12px;
      box-sizing: border-box;
    }
  }

  &__images {
    display: flex;
    gap: 8px;

    &-item {
      position: relative;
      width: 78px;
      height: 78px;
      border-radius: 8px;
      overflow: hidden;
      flex-shrink: 0;
      cursor: pointer;
    }

    &-badge {
      position: absolute;
      right: 4px;
      bottom: 4px;
      padding: 2px 8px;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      border-radius: 12px;
      white-space: nowrap;
    }
  }
}
