.tdesign-mobile-react-demo {
  background: #fff;
  overflow: auto;
  height: 100vh;

  .button {
    margin-bottom: 16px;
  }

  .group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 16px 30px 16px;
    .item {
      width: 47%;
      margin-bottom: 16px;
    }
  }
}
