.tdesign-mobile-react-demo {
  background-color: var(--bg-color-demo);
  overflow: auto;
  height: 100vh;

  .button {
    margin: 16px 0;
  }

  .group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 24px 30px 16px;
    .item {
      width: 47%;
      margin-bottom: 16px;
    }
  }
}
