.tdesign-mobile-demo {
  background-color: #fff;

  .btn-gap {
    width: 100%;
    height: 16px;
  }
  .middle-container {
    padding: 20px;
    overflow: auto;
    max-height: 100px;
  }
}
.t-input {
  margin-top: 16px;
  --td-input-vertical-padding: 12px;
  --td-bg-color-container: var(--td-bg-color-page, #f3f3f3);
  border-radius: 6px;
}