.tag-demo {
  background-color: #fff;
  padding: 16px;
  display: flex;

  .t-tag + .t-tag {
    margin-left: 16px;
  }
}

.tag-demo + .tag-demo {
  margin-top: 16px;
}

.group {
  padding: 16px;
  background-color: #fff;
  display: flex;
  align-items: center;

  &.d-flex {
    display: flex;
    align-items: flex-start;
  }

  &.padding-bottom {
    padding: 16px 16px 0;
  }

  .t-tag {
    margin-right: 16px;
  }
}
