.tdesign-demo-topnav,
.tdesign-mobile-demo {
  --bg-color-demo: var(--td-bg-color-container);
}

.cover-class {
  background-color: var(--td-bg-color-page);

  .t-notice-bar__prefix-icon,
  .t-notice-bar__text {
    color: var(--td-text-color-primary, rgba(0, 0, 0, .9));
  }
}

.custom-link {
  margin-left: 2px;
}

.notice-bar-demo-block {
  margin-bottom: 16px;
}

.demo-section__desc {
  font-size: 14px;
  color: var(--td-text-color-secondary);
  margin-top: 8px;
  line-height: 22px;
  padding: 0 16px;
}

.demo-section__content {
  margin-top: 16px;
  margin-bottom: 24px;
}
