.hori-wrap {
  li {
    margin-bottom: 38px;
  }
}

.veti-wrap {
  li {
    margin-bottom: 38px;
  }
}

.common-text {
  font-size: 14px;
  color: #111111;
  font-weight: 400;
}

.tdesign-mobile-demo {
  padding-bottom: 38px;
}
