.hori-wrap {
  li {
    margin-bottom: 38px;
  }

  li:last-child {
    margin-bottom: 12px;
  }
}

.veti-wrap {
  li {
    margin-bottom: 38px;
  }
}

.common-text {
  font-size: 14px;
  color: #111111;
  font-weight: 400;
}

.tdesign-mobile-demo {
  padding-bottom: 38px;
}

.tab-content {
  width: 100%;
  height: 86px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.26);
}

.veti-content {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.26);
}
