.tdesign-demo-topnav,
.tdesign-mobile-demo {
  --bg-color-demo: var(--td-bg-color-container);
}

.pull-down-refresh-content {
  height: calc(100vh - 55px);
  padding: 20px 16px;
}

.tdesign-mobile-demo {
  .tdesign-mobile-block {
    box-sizing: border-box;
    background-color: rgba(243, 243, 243, 1);
    border-radius: 12px;
    height: 171px;
    font-size: 16px;
    color: rgba(0, 0, 0, .26);
    line-height: 171px;
    text-align: center;
    margin: 16px;
  }

  .tdesign-mobile-item {
    width: 48%;

    &:last-child {
      margin-left: 4%;
      margin-bottom: 16px;
    }
  }
}
