.loading-demo--flex {
  display: flex;
  align-items: center;
}

.t-loading {
  margin-right: 64px;
}

.loading-demo {
  padding: 0 16px;
}

.loading-demo__summary {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px;
}
.mt-24 {
  margin-top: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.slider-wrap {
  // width: 100%;
  // margin-top: 16px;
  // padding: 20px 0;
  margin: 16px;
}

// attact demo
.loading-attach-demo__title {
  /** `position: relative` is required as a parent node */
  position: relative;
  width: 360px;
  text-align: center;
}

// PluginDemo
.space {
  display: flex;
  margin-top: 8px;
  gap: 6px;
}
.loading-service-demo {
  position: relative;
  width: 100%;
  height: 64px;
  line-height: 64px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px var(--component-border, #eee) solid;
}
