.image-example {
  margin-bottom: 24px;
  color: var(--td-text-color-secondary, rgba(0, 0, 0, 0.6));

  &-title {
    font-size: 14px;
    line-height: 22px;
  }

  &-desc {
    font-size: 12px;
    line-height: 20px;
  }
}

// shape
.image-group {
  display: flex;
  flex-wrap: wrap;

  .image-demo {
    margin-right: 24px;
    .image-container {
      height: 72px;
      width: 72px;
      background-color: #000;
    }

    .image-demo-tip {
      color: var(--td-text-color-secondary, rgba(0, 0, 0, 0.6));
      font-size: 14px;
      line-height: 22px;
      margin: 16px 0;
      white-space: nowrap;
    }
  }
}

// status
.row {
  display: flex;
  grid-gap: 24px;
  padding: 0 16px;
  margin-bottom: 16px;

  .image-container {
    width: 72px;
    height: 72px;
  }
}

.tips {
  color: var(--td-text-color-secondary, rgba(0, 0, 0, 0.6));
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 16px;
  text-align: center;
  white-space: nowrap;
}

.error-tips {
  color: var(--td-text-color-placeholder, rgba(0, 0, 0, 0.4));
  font-size: 10px;
}
