.loading-example-table {
  .loading-example-title {
    font-size: 14px;
    margin: 24px 0 16px;
    color: var(--td-text-color-secondary);
  }

  .t-table {
    td {
      .loading-cell-options {
        display: flex;
        align-items: center;
      }
    }
  }

  .example-table-options {
    padding: 8px 0;
  }
}
