button.t-button.t-action-sheet__list-item {
  // 按钮无圆角
  border-radius: 0;

  // 徽标圆形，无留白
  .t-button__content .t-badge__inner {
    padding: 0;
  }
}

.t-action-sheet__swiper-wrap--base {
  // swiper分页器 底部居中
  .t-swiper__pagination {
    position: absolute;
    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translate(-50%);
  }
}

.t-action-sheet__content {
  .t-button__content .t-badge__content-text {
    line-height: unset;
  }
}