.tdesign-mobile-demo {
    background-color: #ffffff;
    padding-bottom: 62px;
    .tdesign-demo-block-wrap {
        padding: 0 16px;

        &__block {
            padding-top: 40px;
        }
    }
}
