.dark {
  background-color: #0052d9;
}

.light {
  background-color: #366ef4;
}

.dark,
.light {
  color: #fff;
  font-size: 14px;
  line-height: 48px;
  margin-bottom: 16px;
  text-align: center;
}

.tdesign-mobile-demo {
  // background-color: #fff;
  min-height: 100%;
  box-sizing: border-box;
}
